 
  h1.who, h1.what, h1.give{
            color: $cherryred;
        }


     h1{
        color: $seafoam;
        font-size:50px;
        text-align:center;

        }


       h2{
        text-align: center;
        color: $sand;

        }

        p {
         color:$black; 
          line-height:1.4; 
          font-family: 'PT Sans Narrow', sans-serif;

        }

        
        
